<!doctype html>
<html>
    <head>
        <!--
        https://secure.flickr.com/photos/psd/2825406896/in/photolist-5iEX31-gG2Ana-asaw8b-as7UBz-asawPo-bHMp9P-9ErTwC-asaxj1-9xiabV-as7UGD-9xm8LG-h25RLL-edzQFN-as7Sez-eduf2Z-edzUx1-edzW6h-gu9vEn-fxpU4p-bv7JbJ-FZkPN-eHp8rp-dsbR4C-dsbGHk-dsbFUt-dsbNaL-dsbJB6-dsbMLy-dsbUem-dsbUm1-dsbLai-dsbJc6-dsbDHk-dsbHs4-dsbNSY-dsbFxM-dsbEQV-dsbK5B-dsbPhN-dsbHR8-edudrX-edzT7G-eduapT-educQK-eduh38-educXV-edtEac-azuzGz-edzKhL-edtNZt
        -->
        <title>Fresno Hack Night</title>

        <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic">
        <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />

        <link type="text/css" rel="stylesheet/less" href="/static/css/style.less" />
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.0/less.min.js"></script>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

        <script type="text/javascript" src="/static/js/date.js"></script>
        <script type="text/javascript" src="/static/js/microtemplating.js"></script>
        <script type="text/javascript" src="/static/js/hacknight.js"></script>

        <script type="text/html" id="schedule_item">
            <li class="<%=classes.join(' ')%>">
                <% if(first) { %><div class="small text-muted">We hope to see you there!</div><% } %>
                <% if(first) { %><b><% } %><%=date.toString('MMMM dd, yyyy')%><% if(first) { %></b><% } %>
            </li>
        </script>
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <span class="navbar-brand">
                        <i class="fa fa-angle-right"></i>
                        <i class="fa fa-angle-right"></i>
                        <i class="fa fa-angle-right"></i>
                        &nbsp; Fresno Hack Night <!-- fresno.hack_night() -->
                    </span>
                </div>
                <!--
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Code of Conduct</a></li>
                </ul>
                -->
            </div>
        </div>

        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="box">
                            <p>Programmers! Designers!</p>
                            <p>Hackers of Wares, Hard and Soft!</p>
                            <p>Nerds of all ages, shapes, sizes, colors, and genders!</p>
                            <p>Please join us for <b>Fresno Hack Night</b>!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container content">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <h1>What is it?</h1>

                    <i class="fa fa-code fa-5x fa-border text-muted pull-right"></i>

                    <p><b>Fresno Hack Night</b> is a twice-monthly gathering for programmers, designers, hardware hackers, and other technically minded folks. It's an aggressively unstructured way to hack amongst peers, converse about the vagaries of this or that methodology of developmental arts, or simply to partake of delicious libations in delightful company. </p>

                    <i class="fa fa-keyboard-o fa-5x fa-border text-muted pull-left"></i>

                    <p>There's no agenda, no presentations, no requirements, and hackers and the hacker-curious of all levels are welcome to attend.</p>

                    <h1>When and Where?</h1>

                    <p>We gather on the <b>1<sup>st</sup> and 3<sup>rd</sup> Friday of every month at 7pm</b>. We are generously sponsored by <b>Bitwise Mural District</b>, a technology hub located at <b>2210 San Joaquin St.</b> in downtown Fresno.</p>

                    <p>TODO: If Hack Night is upstairs, how do people get into the building?</p>

                    <div class="row">
                        <div class="col-md-4 col-md-offset-1">
                            <div id="schedule" class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-calendar"></i> Hack Night Schedule</h3>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item text-center">
                                        <i class="fa fa-spinner fa-spin text-muted"></i>
                                        <i>Loading...</i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <a href="https://goo.gl/maps/UqrJa">
                                <img src="https://maps.googleapis.com/maps/api/staticmap?center=2210+San+Joaquin+St.,+Fresno,+CA&size=420x240&sensor=false&zoom=13&markers=|color:red|2210+San+Joaquin+St.,+Fresno,+CA" alt="Map." class="thumbnail center-block img-responsive">
                            </a>
                        </div>
                    </div>

                    <h1>It's my first time! What can I expect?</h1>

                    <p>Naught but merriment, hacking, and chatter from your favorite kind of people, milling about between some desks. You should feel welcome to come, sit down, and <b>hack quietly amongst peers</b>, or just as welcome to come, sit down, and <b>argue about type systems</b>.</p>

                    <h1>Kind Sponsors</h1>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <a href="http://bitwiseindustries.com/">
                                    <img src="/static/img/bitwise-mural-district.png" alt="Bitwise Mural District" class="img-responsive" />
                                    <div class="caption"><b>Bitwise</b> provides us with meeting space</div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <h1>Hope to see you there!</h1>

                    <hr />
                    <p class="small text-muted pull-left"><a href="#">Code of Conduct</a></p>
                    <p class="small text-muted text-right">Stay up to date. Follow
                        <a href="http://twitter.com/FresnoHackNight">@FresnoHackNight</a>
                        on Twitter.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
